<!-- BACK TOP TOP BUTTON -->
<div
id="back-to-top"
data-spy="affix"
data-offset-top="300"
class="back-to-top hidden-xs hidden-sm affix"
>
<button class="btn btn-inverse" title="Back to Top">
  <i class="icon-arrow-up fa fa-angle-double-up"></i>
</button>
</div>

<script type="text/javascript">
(function($) {
  // Back to top
  $('#back-to-top').on('click', function(){
    $("html, body").animate({scrollTop: 0}, 500);
    return false;
  });
})(jQuery);
</script>
<!-- BACK TO TOP BUTTON -->

<!-- FOOTER -->
<footer id="t3-footer" class="wrap t3-footer">
  <!-- FOOT NAVIGATION -->
  <div class="container">
    <!-- SPOTLIGHT -->
    <div
      class="t3-spotlight t3-footnav equal-height equal-height-child row"
    >
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col">
        <div
          class="t3-module module"
          id="Mod141"
          style="min-height: 252px;"
        >
          <div class="module-inner">
            <h3 class="module-title"><span>Subscribe</span></h3>
            <div class="module-ct">
              <div
                class="acymailing_module"
                id="acymailing_module_formAcymailing11381"
              >
                <div
                  class="acymailing_fulldiv"
                  id="acymailing_fulldiv_formAcymailing11381"
                >
                  <form
                    id="formAcymailing11381"
                    action="/index.php/customs-online-sale"
                    onsubmit="return submitacymailingform('optin','formAcymailing11381')"
                    method="post"
                    name="formAcymailing11381"
                  >
                    <div class="acymailing_module_form">
                      <div class="acymailing_introtext"></div>
                      <table class="acymailing_form">
                        <tbody>
                          <tr>
                            <td
                              class="acyfield_email acy_requiredField"
                            >
                              <input
                                id="user_email_formAcymailing11381"
                                onfocus="if(this.value == 'E-mail') this.value = '';"
                                onblur="if(this.value=='') this.value='E-mail';"
                                class="inputbox"
                                type="text"
                                name="user[email]"
                                style="width:80%"
                                value="E-mail"
                                title="E-mail"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="acysubbuttons">
                              <input
                                class="button subbutton btn btn-primary"
                                type="submit"
                                value="Subscribe"
                                name="Submit"
                                onclick="try{ return submitacymailingform('optin','formAcymailing11381'); }catch(err){alert('The form could not be submitted '+err);return false;}"
                              />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <input type="hidden" name="ajax" value="0" />
                      <input
                        type="hidden"
                        name="acy_source"
                        value="module_141"
                      />
                      <input type="hidden" name="ctrl" value="sub" />
                      <input type="hidden" name="task" value="notask" />
                      <input
                        type="hidden"
                        name="redirect"
                        value="https%3A%2F%2Fcustomsinlandrevenue.gov.vu%2Findex.php%2Fcustoms-online-sale"
                      />
                      <input
                        type="hidden"
                        name="redirectunsub"
                        value="https%3A%2F%2Fcustomsinlandrevenue.gov.vu%2Findex.php%2Fcustoms-online-sale"
                      />
                      <input
                        type="hidden"
                        name="option"
                        value="com_acymailing"
                      />
                      <input
                        type="hidden"
                        name="hiddenlists"
                        value="1"
                      />
                      <input
                        type="hidden"
                        name="acyformname"
                        value="formAcymailing11381"
                      />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 hidden-xs col">
        <div
          class="t3-module module"
          id="Mod127"
          style="min-height: 252px;"
        >
          <div class="module-inner">
            <h3 class="module-title"><span>Who We Are?</span></h3>
            <div class="module-ct">
              <div class="custom">
                <p>
                  Customs and Inland Revenue, is a large and diverse
                  department with over 100 employees spread across
                  Vanuatu. With Office locations in Port Vila and
                  Luganville and the provincial centers&nbsp;at Lenakel,
                  Lakatoro, Saratamata and Sola.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="t3-module module"
          id="Mod133"
          style="min-height: 252px;"
        >
          <div class="module-inner">
            <h3 class="module-title"><span>Our partners</span></h3>
            <div class="module-ct">
              <div class="custom">
                <ul>
                  <li>
                    <a
                      href="#"
                      target="_blank"
                      rel="noopener noreferrer"
                      >Vanuatu Immigration Services</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      target="_blank"
                      rel="noopener noreferrer"
                      >Biosecurity Vanuatu</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      target="_blank"
                      rel="noopener noreferrer"
                      >Vanuatu Tourism Office</a
                    >
                  </li>
                  <li>
                    <a
                      title="Vanuatu Financial Services Commission"
                      href="#"
                      target="_blank"
                      rel="noopener noreferrer"
                      >Financial Services Commission</a
                    >
                  </li>
                  <li>
                    <a
                      title="Vanuatu Investment Promotion Authority"
                      href="#"
                      target="_blank"
                      rel="noopener noreferrer"
                      >Investment Promotion Authority</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 hidden-xs col">
        <div
          class="t3-module module"
          id="Mod128"
          style="min-height: 252px;"
        >
          <div class="module-inner">
            <h3 class="module-title"><span>What We Do?</span></h3>
            <div class="module-ct">
              <div class="custom">
                <p>
                  To protect the community from potential risks arising
                  from international trade and travel, while
                  facilitating the legitimate movement of people and
                  goods across the border, and collect legislated
                  government revenue.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="t3-module module"
          id="Mod179"
          style="min-height: 252px;"
        >
          <div class="module-inner">
            <h3 class="module-title"><span>Our Government</span></h3>
            <div class="module-ct">
              <div class="custom">
                <p style="text-align: center;">
                  <a
                    href="https://www.gov.vu/"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="static/customs_online_sale_files/vangov-logo_smaller.png"
                      alt=""
                  /></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col">
        <div
          class="t3-module module"
          id="Mod129"
          style="min-height: 252px;"
        >
          <div class="module-inner">
            <h3 class="module-title"><span>Where to find us?</span></h3>
            <div class="module-ct">
              <div class="custom">
                <div class="find-us">&nbsp;</div>
                <div class="find-us">&nbsp;</div>
                <p>
                  <a
                    class="btn btn-secondary btn-sm"
                    href="https://customsinlandrevenue.gov.vu/index.php/contact-us"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Click Here</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="t3-module module"
          id="Mod171"
          style="min-height: 252px;"
        >
          <div class="module-inner">
            <h3 class="module-title"><span>Follow us</span></h3>
            <div class="module-ct">
              <div class="custom">
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;">
                  &nbsp;&nbsp;<a
                    href="https://web.facebook.com/VuDCIR"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="static/customs_online_sale_files/facebook_2.png"
                      alt=""
                      width="40"
                      height="40" /></a
                  >&nbsp; &nbsp; &nbsp;<a
                    href="https://www.linkedin.com/company/vanuatu-department-of-customs-and-inland-revenue/mycompany/?viewAsMember=true"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="static/customs_online_sale_files/linkedin2.png"
                      alt=""
                      width="40"
                      height="40" /></a
                  >&nbsp; &nbsp; &nbsp;<a
                    href="https://www.youtube.com/channel/UC7IFkTOnSKJ8wYGnRfQccsA"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="static/customs_online_sale_files/youtube-logotype.png"
                      alt=""
                      width="40"
                      height="40" /></a
                  >&nbsp; &nbsp; &nbsp;<a
                    href="https://www.instagram.com/vanuatudcir/"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="static/customs_online_sale_files/instagram2.png"
                      alt=""
                      width="40"
                      height="40"
                  /></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SPOTLIGHT -->
  </div>
  <!-- //FOOT NAVIGATION -->

  <section class="t3-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 copyright">
          <small>
            <a
              href="http://twitter.github.io/bootstrap/"
              target="_blank"
              >Bootstrap</a
            >
            is a front-end framework of Twitter, Inc. Code licensed
            under
            <a
              href="http://www.apache.org/licenses/LICENSE-2.0"
              target="_blank"
              >Apache License v2.0</a
            >.
          </small>
          <small>
            <a
              href="http://fortawesome.github.io/Font-Awesome/"
              target="_blank"
              >Font Awesome</a
            >
            font licensed under
            <a href="http://scripts.sil.org/OFL">SIL OFL 1.1</a>.
          </small>
        </div>
      </div>
    </div>
  </section>
</footer>
<!-- //FOOTER -->