<head>
  <!-- base href="https://customsinlandrevenue.gov.vu/index.php/customs-online-sale" -->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="DCIR Website" />
  <title>{% block title %}{% endblock %}</title>
  <link
    href="#"
    rel="alternate"
    type="application/rss+xml"
    title="RSS 2.0"
  />
  <link
    href="#"
    rel="alternate"
    type="application/atom+xml"
    title="Atom 1.0"
  />
  <link
    href="#"
    rel="shortcut icon"
    type="image/vnd.microsoft.icon"
  />
  <link
    href="#"
    rel="search"
    title="Search Customs and Inland Revenue"
    type="application/opensearchdescription+xml"
  />
  <link
    href="/static/customs_online_sale_files/bootstrap.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/simple-line-icons.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/k2.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/bootstrap.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/jquery-ui-custom.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/font-awesome.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/j2store.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/jquery.fancybox.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/style_002.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/system.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/legacy-grid.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/font-awesome.min_002.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/template.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/megamenu.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/off-canvas.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/font-awesome.min_003.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/owl.carousel.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/owl.theme.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/flaticon.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/docs.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/module_default.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/static/customs_online_sale_files/style.css"
    rel="stylesheet"
    type="text/css"
  />
  <style type="text/css">
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    .j2store-mainimage .zoomImg, .j2store-product-images .j2store-mainimage img,.j2store-product-images .j2store-thumbnail-image img {width:120px} .blog .additional-image-list img ,.item-page .additional-image-list img  { width :80px;}
    div.mod_search135 input[type="search"]{ width:auto; }
  </style>
  <script type="application/json" class="joomla-script-options new">
    {"csrf.token":"57607a8e75dfdf2de988e023bd325fc0","system.paths":{"root":"","base":""}}
  </script>
  <script
    src="/static/customs_online_sale_files/jquery.min.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/jquery-noconflict.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/jquery-migrate.min.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/k2.frontend.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/bootstrap.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/j2store.namespace.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/jquery-ui.min.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/jquery-ui-timepicker-addon.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/jquery.zoom.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/j2store.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/bootstrap-modal-conflit.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/jquery.fancybox.min.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/flexivariable.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/caption.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/mootools-core.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/core.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/mootools-more.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/jquery.tap.min.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/off-canvas.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/script_002.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/menu.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/owl.carousel.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/script.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/inview.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/affix.js"
    type="text/javascript"
  ></script>
  <script
    src="/static/customs_online_sale_files/acymailing_module.js"
    type="text/javascript"
    async="async"
  ></script>
  <!--[if lt IE 9
    ]><script
      src="/media/system/js/html5fallback.js?6a45b0e58acb44b79d00343063cc685a"
      type="text/javascript"
    ></script
  ><![endif]-->
  <script type="text/javascript">

        var j2storeURL = ';

          if(typeof(j2store) == 'undefined') {
            var j2store = {};
          }

      if(typeof(jQuery) != 'undefined') {
        jQuery.noConflict();
      }

      if(typeof(j2store.jQuery) == 'undefined') {
        j2store.jQuery = jQuery.noConflict();
      }

      if(typeof(j2store.jQuery) != 'undefined') {

        (function($) {
          $(document).ready(function(){
            /*date, time, datetime*/

            if( $('.j2store_date').length ){
              $('.j2store_date').datepicker({dateFormat: 'yy-mm-dd'});
            }

            if($('.j2store_datetime').length){
              $('.j2store_datetime').datetimepicker({
                  dateFormat: 'yy-mm-dd',
                  timeFormat: 'HH:mm',

          currentText: 'Now',
          closeText: 'Done',
          timeOnlyTitle: 'Choose Time',
          timeText: 'Time',
          hourText: 'Hour',
          minuteText: 'Minute',
          secondText: 'Seconds',
          millisecText: 'Milliseconds',
          timezoneText: 'Time Zone'

              });
            }

            if($('.j2store_time').length){
              $('.j2store_time').timepicker({timeFormat: 'HH:mm',
          currentText: 'Now',
          closeText: 'Done',
          timeOnlyTitle: 'Choose Time',
          timeText: 'Time',
          hourText: 'Hour',
          minuteText: 'Minute',
          secondText: 'Seconds',
          millisecText: 'Milliseconds',
          timezoneText: 'Time Zone'
          });
            }

          });
        })(j2store.jQuery);
      }

    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(document).off("click.fb-start", "[data-trigger]");
    jQuery(window).on('load',  function() {
            new JCaption('img.caption');
          });
    jQuery(function($){ initTooltips(); $("body").on("subform-row-add", initTooltips); function initTooltips (event, container) { container = container || document;$(container).find(".hasTooltip").tooltip({"html": true,"container": "body"});} });
      if(typeof acymailingModule == 'undefined'){
            var acymailingModule = [];
          }

          acymailingModule['emailRegex'] = /^[a-z0-9!#$%&\'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+\/=?^_`{|}~-]+)*\@([a-z0-9-]+\.)+[a-z0-9]{2,10}$/i;

          acymailingModule['NAMECAPTION'] = 'Name';
          acymailingModule['NAME_MISSING'] = 'Please enter your name';
          acymailingModule['EMAILCAPTION'] = 'E-mail';
          acymailingModule['VALID_EMAIL'] = 'Please enter a valid e-mail address';
          acymailingModule['ACCEPT_TERMS'] = 'Please check the Terms and Conditions';
          acymailingModule['CAPTCHA_MISSING'] = 'The captcha is invalid, please try again';
          acymailingModule['NO_LIST_SELECTED'] = 'Please select the lists you want to subscribe to';

    acymailingModule['excludeValuesformAcymailing11381'] = [];
    acymailingModule['excludeValuesformAcymailing11381']['name'] = 'Name';
    acymailingModule['excludeValuesformAcymailing11381']['email'] = 'E-mail';
  </script>

  <!-- META FOR IOS & HANDHELD -->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
  />
  <style type="text/stylesheet">
    @-webkit-viewport   { width: device-width; }
    @-moz-viewport      { width: device-width; }
    @-ms-viewport       { width: device-width; }
    @-o-viewport        { width: device-width; }
    @viewport           { width: device-width; }
  </style>
  <script type="text/javascript">
    //<![CDATA[
    if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
      var msViewportStyle = document.createElement("style");
      msViewportStyle.appendChild(
        document.createTextNode("@-ms-viewport{width:auto!important}")
      );
      document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
    }
    //]]>
  </script>
  <meta name="HandheldFriendly" content="true" />
  <meta name="apple-mobile-web-app-capable" content="YES" />
  <!-- //META FOR IOS & HANDHELD -->

  <!-- Le HTML5 shim and media query for IE8 support -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script
      type="text/javascript"
      src="/plugins/system/t3/base-bs3/js/respond.min.js"
    ></script>
  <![endif]-->

  <!-- You can add Google Analytics here or use T3 Injection feature -->

  <style type="text/css">
    .t3-megamenu.animate .animating > .mega-dropdown-menu,.t3-megamenu.animate.slide .animating > .mega-dropdown-menu > div {transition-duration: 400ms !important;-webkit-transition-duration: 400ms !important;}
  </style>
</head>