<div
  id="t3-off-canvas"
  class="t3-off-canvas hidden-lg hidden-md hidden-sm off-canvas-effect-4 off-canvas-left"
>
  <div class="t3-off-canvas-header">
    <h2 class="t3-off-canvas-header-title">Sidebar</h2>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-hidden="true"
    >
      ×
    </button>
  </div>

  <div class="t3-off-canvas-body">
    <div class="t3-module module" id="Mod119">
      <div class="module-inner">
        <div class="module-ct">
          <ul class="nav nav-pills nav-stacked menu">
            <li class="item-101 default deeper dropdown parent">
              <a
                href="https://customsinlandrevenue.gov.vu/index.php"
                class="dropdown-toggle"
                data-toggle="dropdown"
                >Home<em class="caret"></em
              ></a>
              <ul class="dropdown-menu">
                <li class="item-377">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/home/about-dcir"
                    class=""
                    >About us</a
                  >
                </li>
                <li class="item-379">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/home/careers2"
                    class=""
                    >Careers</a
                  >
                </li>
                <li class="item-492 dropdown-submenu parent">
                  <a href="#" class="">Section </a>
                  <ul class="dropdown-menu">
                    <li class="item-177">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/home/section/corporate"
                        class=""
                        >Corporate</a
                      >
                    </li>
                    <li class="item-493">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/home/section/inland-revenue"
                        class=""
                        >Inland Revenue</a
                      >
                    </li>
                    <li class="item-494">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/home/section/customs"
                        class=""
                        >Customs</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="item-390">
                  <a
                    href="https://customsinlandrevenue.gov.vu/images/General_documents/Client_Service_Charter.pdf"
                    class=""
                    target="_blank"
                    rel="noopener noreferrer"
                    >Client Service Charter
                  </a>
                </li>
                <li class="item-507 dropdown-submenu parent">
                  <a href="#" class="">Agreements &amp; MOU </a>
                  <ul class="dropdown-menu">
                    <li class="item-508">
                      <a
                        href="https://customsinlandrevenue.gov.vu/images/legislations/International_Instruments/TF_Agreement_English_version_final_20_May.pdf"
                        class=""
                        >TF Agreement English Version Final
                      </a>
                    </li>
                    <li class="item-354">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/home/agreements-mou/acbps"
                        class=""
                        >Australian Customs Border Protection
                      </a>
                    </li>
                    <li class="item-356">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/home/agreements-mou/depc"
                        class=""
                        >Department of Environmental Protection and
                        Conservation</a
                      >
                    </li>
                    <li class="item-357">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/home/agreements-mou/fiu"
                        class=""
                        >Financial Intelligence Unit</a
                      >
                    </li>
                    <li class="item-359">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/home/agreements-mou/national-ozone-unit"
                        class=""
                        >National Ozone Unit</a
                      >
                    </li>
                    <li class="item-360">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/home/agreements-mou/police"
                        class=""
                        >Police</a
                      >
                    </li>
                    <li class="item-362">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/home/agreements-mou/vcbfa"
                        class=""
                        >Vanuatu Customs Brokers and Forwarders
                        Assocation</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="item-506">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/home/public-holidays"
                    class=""
                    >Public Holidays</a
                  >
                </li>
              </ul>
            </li>
            <li class="item-146 deeper dropdown parent">
              <a
                href="https://customsinlandrevenue.gov.vu/index.php/blog"
                class="dropdown-toggle"
                data-toggle="dropdown"
                >News<em class="caret"></em
              ></a>
              <ul class="dropdown-menu">
                <li class="item-414">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/blog/archived-articles"
                    class=""
                    >Archived Articles</a
                  >
                </li>
                <li class="item-413">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/blog/newsroom"
                    class=""
                    >Newsroom</a
                  >
                </li>
                <li class="item-424">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/blog/newsletters-final"
                    class=""
                    >Newsletters</a
                  >
                </li>
                <li class="item-488">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/blog/covid-19-updates"
                    class=""
                    >COVID-19 Updates</a
                  >
                </li>
                <li class="item-386">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/blog/public-notices"
                    class=""
                    >Public Notices</a
                  >
                </li>
              </ul>
            </li>
            <li class="item-283 deeper dropdown parent">
              <a
                href="https://customsinlandrevenue.gov.vu/index.php/customs"
                class="dropdown-toggle"
                data-toggle="dropdown"
                >Customs<em class="caret"></em
              ></a>
              <ul class="dropdown-menu">
                <li class="item-304 dropdown-submenu parent">
                  <a href="#" class="">Border Control </a>
                  <ul class="dropdown-menu">
                    <li class="item-313">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/border-control/customs-service-fees"
                        class=""
                        >Customs Service Fees</a
                      >
                    </li>
                    <li class="item-314">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/border-control/parcel-post"
                        class=""
                        >Parcel &amp; Post</a
                      >
                    </li>
                    <li class="item-315">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/border-control/penalties-for-technical-offences"
                        class=""
                        >Penalties for Technical Offences</a
                      >
                    </li>
                    <li class="item-316">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/border-control/prohibited-exports"
                        class=""
                        >Prohibited Exports</a
                      >
                    </li>
                    <li class="item-317">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/border-control/prohibited-imports"
                        class=""
                        >Prohibited Imports</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="item-305 dropdown-submenu parent">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/customs/customs-revenue"
                    class=""
                    >Customs Revenue</a
                  >
                  <ul class="dropdown-menu">
                    <li class="item-327">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/customs-revenue/customs-clearance"
                        class=""
                        >Customs Clearance</a
                      >
                    </li>
                    <li class="item-328">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/customs-revenue/free-trade-agreements"
                        class=""
                        >Free Trade Agreements</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="item-309">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/customs/post-clearance-audit"
                    class=""
                    >Post Clearance Audit</a
                  >
                </li>
                <li class="item-428">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/customs/forms-2"
                    class=""
                    >Forms</a
                  >
                </li>
                <li class="item-170">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/customs/services"
                    class=""
                    >Services</a
                  >
                </li>
                <li class="item-495 dropdown-submenu parent">
                  <a href="#" class="">Legislations </a>
                  <ul class="dropdown-menu">
                    <li class="item-320">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/legislations/export-duties"
                        class=""
                        >Export Duties</a
                      >
                    </li>
                    <li class="item-318">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/legislations/customs-act"
                        class=""
                        >Customs Act</a
                      >
                    </li>
                    <li class="item-319">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/legislations/excise-tax"
                        class=""
                        >Excise Tax</a
                      >
                    </li>
                    <li class="item-321">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/legislations/import-duties"
                        class=""
                        >Import Duties</a
                      >
                    </li>
                    <li class="item-322">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/legislations/others"
                        class=""
                        >Others</a
                      >
                    </li>
                    <li class="item-323">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/legislations/regulations"
                        class=""
                        >Regulations</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="item-310 dropdown-submenu parent">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/customs/rules-of-origin"
                    class=""
                    >Rules of Origin</a
                  >
                  <ul class="dropdown-menu">
                    <li class="item-467">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/rules-of-origin/online-verification-of-vanuatu-certificate-of-origin"
                        class=""
                        >Online verification of Vanuatu Certificates Of
                        Origin (COO)</a
                      >
                    </li>
                    <li class="item-329">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/rules-of-origin/compendium-of-procedural-mechanisms-used-in-the-application-of-rules-of-origin"
                        class=""
                        >Compendium of Procedural Mechanisms Used in the
                        Application of Rules of Origin</a
                      >
                    </li>
                    <li class="item-330">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/rules-of-origin/melanesian-spearhead-group-trade-agreement-msgta"
                        class=""
                        >Melanesian Spearhead Group Trade Agreement
                        (MSGTA)</a
                      >
                    </li>
                    <li class="item-331">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/rules-of-origin/vanuatu-rules-of-origin-handbook"
                        class=""
                        >Vanuatu Rules of Origin Handbook</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="item-311 dropdown-submenu parent">
                  <a href="#" class="">Single Window </a>
                  <ul class="dropdown-menu">
                    <li class="item-332">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/customs/single-window/single-window-connection"
                        class=""
                        >Single Window connection</a
                      >
                    </li>
                    <li class="item-333">
                      <a
                        href="https://singlewindow.gov.vu/"
                        class=""
                        target="_blank"
                        rel="noopener noreferrer"
                        >Single Window Portal
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="item-306">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/customs/customs-rulings"
                    class=""
                    >Customs Rulings</a
                  >
                </li>
                <li class="item-374">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/customs/customs-sale"
                    class=""
                    >Customs Sale</a
                  >
                </li>
                <li class="item-307">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/customs/customs-valuation"
                    class=""
                    >Customs Valuation</a
                  >
                </li>
                <li class="item-383">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/customs/hs-nomenclature"
                    class=""
                    >HS Nomenclature</a
                  >
                </li>
                <li class="item-312">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/customs/vanuatu-customs-brokers"
                    class=""
                    >Principal Brokers</a
                  >
                </li>
                <li class="item-505">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/customs/exchange-rates"
                    class=""
                    >Exchange Rates</a
                  >
                </li>
              </ul>
            </li>
            <li class="item-284 deeper dropdown parent">
              <a
                href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing"
                class="dropdown-toggle"
                data-toggle="dropdown"
                >Taxes and Licensing<em class="caret"></em
              ></a>
              <ul class="dropdown-menu">
                <li class="item-335 dropdown-submenu parent">
                  <a href="#" class="">Licensing </a>
                  <ul class="dropdown-menu">
                    <li class="item-349">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/licensing/business-licencing"
                        class=""
                        >Business Licencing</a
                      >
                    </li>
                    <li class="item-352">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/licensing/liquor-licencing"
                        class=""
                        >Liquor Licencing</a
                      >
                    </li>
                    <li class="item-350">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/licensing/casino-licencing"
                        class=""
                        >Casino Licencing</a
                      >
                    </li>
                    <li class="item-351">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/licensing/gaming-licencing"
                        class=""
                        >Gaming Licencing</a
                      >
                    </li>
                    <li class="item-355">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/licensing/vehicle-and-driver-licencing"
                        class=""
                        >Vehicle and Driver Licencing</a
                      >
                    </li>
                    <li class="item-502">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/licensing/licence-brochure"
                        class=""
                        >Brochures</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="item-336 dropdown-submenu parent">
                  <a href="#" class="">Taxes </a>
                  <ul class="dropdown-menu">
                    <li class="item-358">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/taxes/rent-tax"
                        class=""
                        >Rent Tax</a
                      >
                    </li>
                    <li class="item-361 dropdown-submenu parent">
                      <a href="#" class="">Value Added Tax (VAT) </a>
                      <ul class="dropdown-menu">
                        <li class="item-365">
                          <a
                            href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/taxes/value-added-tax-vat/introduction"
                            class=""
                            >About</a
                          >
                        </li>
                        <li class="item-366">
                          <a
                            href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/taxes/value-added-tax-vat/policies-booklet"
                            class=""
                            >Policies</a
                          >
                        </li>
                        <li class="item-345">
                          <a
                            href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/taxes/value-added-tax-vat/records"
                            class=""
                            >Records</a
                          >
                        </li>
                        <li class="item-368">
                          <a
                            href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/taxes/value-added-tax-vat/vat-rate-change-calculations"
                            class=""
                            >VAT Rate Change &amp; Calculations</a
                          >
                        </li>
                        <li class="item-369">
                          <a
                            href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/taxes/value-added-tax-vat/zero-rate-certificate"
                            class=""
                            >Zero Rate Certificate</a
                          >
                        </li>
                        <li class="item-500">
                          <a
                            href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/taxes/value-added-tax-vat/objections"
                            class=""
                            >Objections</a
                          >
                        </li>
                        <li class="item-509">
                          <a
                            href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/taxes/value-added-tax-vat/brochures"
                            class=""
                            >Brochures</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="item-353">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/taxes/turnover-tax"
                        class=""
                        >Turnover Tax</a
                      >
                    </li>
                    <li class="item-384">
                      <a
                        href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/taxes/taxes-brochures"
                        class=""
                        >Brochures</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="item-112">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/forms-pages"
                    class=""
                    >Forms</a
                  >
                </li>
                <li class="item-422">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/legislations"
                    class=""
                    >Legislations</a
                  >
                </li>
                <li class="item-499">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/changes-from-1st-january-2020"
                    class=""
                    >Changes from 1st January 2020</a
                  >
                </li>
                <li class="item-346">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/tax-agents-1"
                    class=""
                    >Tax Agents</a
                  >
                </li>
                <li class="item-421">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/newsletter"
                    class=""
                    >Monthly Reminders</a
                  >
                </li>
                <li class="item-431">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/rates-tax-calculator"
                    class=""
                    >Due Date Calculator</a
                  >
                </li>
                <li class="item-347">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/tax-identification-numbers"
                    class=""
                    >Tax Identification Numbers</a
                  >
                </li>
                <li class="item-498">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/taxes-and-licensing/tax-clearances"
                    class=""
                    >Tax Clearances</a
                  >
                </li>
              </ul>
            </li>
            <li class="item-300 deeper dropdown parent">
              <a
                href="https://customsinlandrevenue.gov.vu/index.php/travellers"
                class="dropdown-toggle"
                data-toggle="dropdown"
                >Travellers<em class="caret"></em
              ></a>
              <ul class="dropdown-menu">
                <li class="item-363">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/travellers/about-vanuatu"
                    class=""
                    >About Vanuatu</a
                  >
                </li>
                <li class="item-364">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/travellers/cruise-ships"
                    class=""
                    >Cruise Ships</a
                  >
                </li>
                <li class="item-367">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/travellers/personal-concession"
                    class=""
                    >Personal Concession</a
                  >
                </li>
                <li class="item-370">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/travellers/prohibited-exports"
                    class=""
                    >Prohibited Exports</a
                  >
                </li>
                <li class="item-371">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/travellers/prohibited-imports"
                    class=""
                    >Prohibited Imports</a
                  >
                </li>
                <li class="item-372">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/travellers/unaccompanied-personal"
                    class=""
                    >Unaccompanied Personal &amp; Household Effects</a
                  >
                </li>
                <li class="item-373">
                  <a
                    href="https://customsinlandrevenue.gov.vu/index.php/travellers/yacht-clearance"
                    class=""
                    >Yacht Clearance</a
                  >
                </li>
              </ul>
            </li>
            <li class="item-130">
              <a
                href="https://customsinlandrevenue.gov.vu/index.php/contact-us"
                class=""
                >Contact Us</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>