{% extends "layout/base.html" %}

{% block title %}Customs Sale{% endblock %}

{% block main %}
<div id="t3-mainbody" class="container t3-mainbody one-sidebar-right">
  <div class="row">
    <!-- MAIN CONTENT -->
    <div id="t3-content" class="t3-content col-xs-12 col-sm-8 col-md-9">
      <div class="item-page clearfix">
        <!-- Article -->
        <article itemscope="" itemtype="http://schema.org/Article">
          <meta itemprop="inLanguage" content="en-GB" />

          <!-- Aside -->
          <!-- //Aside -->

          <section
            class="article-content clearfix"
            itemprop="articleBody"
          >
            <p>
              <span style="font-size: 12pt;"
                ><a
                  href="https://customsinlandrevenue.gov.vu/images/customs_sale/Online_Customs_Sale_Instructions.pdf"
                  target="_blank"
                  rel="noopener noreferrer"
                  >1. Instructions on how to place an order on each lot
                  of sale goods.</a
                ></span
              >
            </p>
            <p style="text-align: left;">
              <span style="font-size: 12pt;"
                ><a
                  href="https://customsinlandrevenue.gov.vu/images/customs_sale/DCIR_Public_Notice_No13_of_2022_-Public_Sale.pdf"
                  target="_blank"
                  rel="noopener noreferrer"
                  >2. Public Notice No. 13 of 2022 - Public Sale.</a
                ></span
              >
            </p>
            <p style="text-align: left;">
              <span style="font-size: 12pt;"
                ><a
                  href="https://customsinlandrevenue.gov.vu/images/customs_sale/DISPLAY_LIST_FOR_SALE_2022.pdf"
                  target="_blank"
                  rel="noopener noreferrer"
                  >3.&nbsp;Catalogue of items to be sold</a
                ><br
              /></span>
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <h1 style="text-align: center;">
              <span style="font-size: 36pt;"
                ><span style="color: #000000;"
                  ><strong>Sale is now closed.</strong></span
                >&nbsp;</span
              >
            </h1>
          </section>

          <!-- footer -->
          <!-- //footer -->
        </article>
        <!-- //Article -->
      </div>
    </div>
    <!-- //MAIN CONTENT -->

    <!-- SIDEBAR RIGHT -->
    <div
      class="t3-sidebar t3-sidebar-right col-xs-12 col-sm-4 col-md-3"
    >
      <div class="t3-module module module-bg bg-primary" id="Mod137">
        <div class="module-inner">
          <h3 class="module-title"><span>Opening Hours</span></h3>
          <div class="module-ct">
            <div class="custom module-bg bg-primary">
              <ul>
                <li><b>Monday - Friday</b></li>
                <li>8.00am - 12:00pm</li>
                <li>1:00PM - 5:00PM</li>
                <li><b>Public Holidays</b>&nbsp;CLOSED</li>
                <li><b>Weekends</b>&nbsp;CLOSED</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //SIDEBAR RIGHT -->
  </div>
</div>
{% endblock %}